.btn {
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  color: $color-primary-dark;
  transition: all 0.5s;
  box-shadow: 0 0.4rem 0.7rem rgba($color: #000000, $alpha: 0.8);
  &__white--big:link,
  :visited {
    display: inline-block;
    width: 25rem;
    background-color: #fff;
    font-size: 1.9rem;
    text-decoration: none;

    color: $color-primary-dark;
  }
  &__white--big:hover {
    text-decoration: none;
    transform: translateY(-0.4rem);
    color: $color-primary-dark;
  }
  &__white--big:active {
    transform: translateY(-0.2rem);
  }
}
